.nav-logo {
	background: url("../logo_s.png") no-repeat;
	background-size: cover;
	height: 32px;
	width: 200px;
	width: 250px;
}

.nav-logo-white {
	background: url("../logo_white.png") no-repeat;
	background-size: cover;
	height: 32px;
	width: 200px;
	width: 250px;
}

.user-input {
	margin-bottom: 1em;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
	transition: 0.5s;
	padding: 10px 20px 10px 20px;
	font-size: 16px;
}

.user-input:focus {
	border: 1px solid #ac3633;
}

.err-msg {
	margin-top: 1em;
	text-align: center;
	font-size: 14px;
	color: #ac3633;
	font-weight: bold;
	;
}

.red-button {
	padding: 0.6rem 1rem;
	min-width: 100px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
	transition: 0.3s;
	/* margin: 0 auto; */
	font-size: 16px;
	background-color: #ac3633;
	color: #ffffff;
	font-weight: bold;
}

.red-button:hover {
	border-color: #ffffff;

}

.red-button.disabled {
	background-color: #C7CED9;
}

.red-button.loading {
	background-color: #C7CED9;

}
.notification-container{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 1em;
	bottom: 1em;
}
.notification {
	padding: 10px;
	background-color: #DBEFFB;
	color: #283047;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	display: flex;
	margin-top: 1em;
}

.notification span {
	display: inline-flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}

.notification-btn {
	cursor: pointer;
	margin-right: 1em;
	height: 22px;
}

.notification-btn svg {
	font-size: 22px;
	line-height: 22px;
}

.notification.error {
	background-color: #FEECEE;
}

/* Non mobile only*/
@media (min-width: 767px) {
	.hidden-n-mobile {
		display: none;
	}
}

/* Mobile only */
@media (max-width: 767px) {
	.hidden-mobile {
		display: none;
	}
}